/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px; /* To ensure footer does not overlap content */
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
    
  /* Footer Styles */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0099CC;
    border-top: 1px solid #ddd;
    display: none; /* Hide by default */
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .footer-menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    transition: color 0.3s;
  }
  
  .menu-item i {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .menu-item:hover {
    color: #e91e63;
  }
  
  .menu-item span {
    font-size: 12px;
    color: #666;
  }
  
  /* Show footer only on mobile */
  @media (max-width: 768px) {
    .footer {
      display: flex;
    }
  }
    