body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #779Ecb;
    color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  /* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(52, 58, 64, 0.9);
    color: white;
    z-index: 1000;
}

  
.navbar h2 {
    margin: 0;
    font-size: 1.5em;
}

.navbar .nav-buttons {
    margin-right: 30px; /* Geser tombol lebih ke kiri */
}
.navbar .nav-buttons a {
    background-color: #6c5ce7;
    color: white;
    padding: 8px 15px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
}
  
.navbar .nav-buttons a:hover {
    background-color: #5a4cc0;
}
   
/* Tambahkan margin pada konten untuk menghindari navbar tumpang tindih */
.content {
    margin-top: 80px; /* Sesuaikan dengan tinggi navbar */
    width: 80%;
    padding: 80px;
}
.content h1 {
    font-size: 3.1rem;
    color: #333;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.content button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.content button:hover {
    background-color: #3700b3;
}

.background {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background img {
    max-width: 150%;
    max-height: 150%;
}